# 개발 환경 compose
# Local Docker
version: "3.8"

services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: springboot-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/mansShop?characterEncoding=UTF-8&serverTimezone=Asia/Seoul
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: dm1234
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: admin
      SPRING_RABBITMQ_PASSWORD: admin123
    depends_on:
      - db
      - redis
      - rabbitmq
    networks:
      - backend
      - monitoring

  db:
    image: mysql:8.3.0
    container_name: mysql-test
    environment:
      MYSQL_ROOT_PASSWORD: dm1234
      MYSQL_DATABASE: mansShop
    ports:
      - "3306:3306"
    volumes:
      - ../db/ddl/tableDDL.sql:/docker-entrypoint-initdb.d/tableDDL.sql
    networks:
      - backend
      - monitoring

  redis:
    image: redis:latest
    container_name: redis-test
    ports:
      - "6379:6379"
    networks:
      - backend
      - monitoring

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq2
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    networks:
      - monitoring

  mysql-exporter:
    image: prom/mysqld-exporter:latest
    container_name: mysql-exporter
    volumes:
      - ./exporters/.my.cnf:/.my.cnf
    depends_on:
      - db
    ports:
      - "9104:9104"
    networks:
      - monitoring

  redis-exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis-exporter
    env_file:
      - ./exporters/redis-exporter.env
    ports:
      - "9121:9121"
    networks:
      - monitoring

  rabbitmq-exporter:
    image: kbudde/rabbitmq-exporter:latest
    container_name: rabbitmq-exporter
    env_file:
      - ./exporters/rabbitmq-exporter.env
    ports:
      - "9419:9419"
    networks:
      - monitoring

networks:
  backend:
  monitoring:
