spring:
  application:
    name: mansShop_boot
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: none
    generate-ddl: off
    database: mysql

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true

  datasource:
    hikari.maximum-pool-size: 30
    driver-class-name: com.mysql.cj.jdbc.Driver

  config:
    import:
      - classpath:cache.yml
      - classpath:cookie.yml
      - classpath:fallback.yml
      - classpath:jwt-redis.yml
      - classpath:jwt-token.yml
      - classpath:rabbitMQ.yml

  rabbitmq:
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 1000ms
          max-attempts: 2
          multiplier: 2.0
        auto-startup: true
        missing-queues-fatal: false

  flyway:
    enabled: true
    baseline-on-migrate: false
    validate-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8080

logging:
  file:
    path: logback-spring

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false

springdoc:
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  use-fqn: true

# ttl의 경우 초단위
notification:
  redis:
    prefix: "user:online:"
    ttl: 40
    status: "online"

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
  health:
    mail:
      enabled: false
  metrics:
    enable:
      all: true
      system: false
      process: false
