spring:
  config:
    activate:
      on-profile: prod

  datasource:
    hikari:
      maximum-pool-size: 30

  rabbitmq:
    ssl:
      enabled: true

  data:
    redis:
      ssl:
        enabled: true

  mail:
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
          auth: ture
    transport:
      protocol: smtp
    debug: true
    default-encoding: UTF-8
