spring:
  config:
    activate:
      on-profile: prod

  rabbitmq:
    ssl:
      enabled: true

  redis:
    ssl:
      enabled: true

  mail:
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
          auth: ture
    transport:
      protocol: smtp
    debug: true
    default-encoding: UTF-8
